/* @font-face {
  font-family: "button_font";
  src: url("/fonts/Neou-Bold.otf");
} */

.button_word {
  background-color: transparent;
  color: white;
  border: 0px;
  font-family: "button_font";
  border-radius: 10px;
  transition: all .5s ease;
  padding: 10px;
}

.button_word:focus {
  outline: 0;
}

.button_word:active {
  /* background-color: rgb(224, 224, 224); */
}

.button_word:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: gray;
  /* color: rgb(83, 100, 135); */
}