/* filter */

/* .sort_dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.sort_dropdown select {
  font-size: 1.6rem;
  margin-left: 5px;
  margin-top: -4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background: transparent;
  border: 0;
  color: white;
  padding: 5px;
  height: 28px;
  border-radius: 9px;
  width: 95px;
  font-family: button_font;
} */

/* .sort_dropdown_label {} */

/* .sort_dropdown_button {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background: transparent;
  border: 0;
  color: white;
  padding: 5px;
  height: 28px;
  border-radius: 9px;
  width: 95px;
  font-family: button_font;
} */

/* .sort_dropdown_container {
  -webkit-appearance: button;
  background: transparent;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding-top: 9px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 8px;
} */

.select_dropdown_container {
  position: relative;
}

.select_dropdown {
  /* Standard syntax; must be last */
  -webkit-appearance: button;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background: transparent;
  background-position: center right;
  background-repeat: no-repeat;
  border-radius: 9px;
  border: 0;
  color: white;
  padding-top: 9px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 8px;
  font-size: 16px;
  margin: 0;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 10px;
  font-family: button_font;
  transition: all .5s ease-out;
}

.qty_select_dropdown_container {
  position: relative;
  width: 65px;
}

.qty_select_dropdown {
  /* Standard syntax; must be last */
  -webkit-appearance: button;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background: transparent;
  background-position: center right;
  background-repeat: no-repeat;
  border-radius: 9px;
  border: 0;
  color: white;
  padding-top: 9px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 8px;
  font-size: 16px;
  margin: 0;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 10px;
  font-family: button_font;
  transition: all .5s ease-out;
}

.icon_styles {
  position: absolute;
  right: 17px;
  top: 16px;
  transform: rotate(-180deg);
}

.review_select_dropdown_container {
  position: relative;
  margin-left: 15px;
}

.review_select_dropdown {
  /* Standard syntax; must be last */
  -webkit-appearance: button;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  background: transparent;
  background-position: center right;
  background-repeat: no-repeat;
  border-radius: 9px;
  border: 0;
  color: white;
  padding-top: 9px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 8px;
  font-size: 16px;
  margin: 0;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: button_font;
  transition: all .5s ease-out;
}

.review_icon_styles {
  position: absolute;
  right: 9px;
  top: 6px;
  transform: rotate(-180deg);
}

/* option {
  -webkit-appearance: button;
} */

.select_dropdown:hover, .qty_select_dropdown:hover, .review_select_dropdown:hover {
  background: darkgray;
}