@media only screen and (max-width: 1468px) {
  .home_links {
    justify-content: center !important;
  }
}

@media only screen and (max-width: 1032px) {
  .home_links {
    justify-content: center !important;
  }
}

@media only screen and (max-width: 704px) {
  .h1_title {
    font-size: 35px !important;
  }
  .h2_title {
    font-size: 25px !important;
  }
  .p_descriptions {
    font-size: 13px !important;
  }
  .content {
    margin: 0px !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 528px) {
  .h1_title {
    font-size: 25px !important;
  }
  .h2_title {
    font-size: 15px !important;
  }
  .p_descriptions {
    font-size: 12px !important;
  }
  .home_page_img {
    width: 150px !important;
    height: 150px !important;
    margin: 0px;
  }
}