<body style="background:unset;color:white;padding:0;margin:0;font-size:16px;height:100%">
  <table
    style="height:100%;width:100%;border-spacing:0;color:white;margin:auto;font-size:16px;background-color:#5f5f5f">
    <tr>
      <td style="font-family:helvetica;color:white">
        <table style="width:100%;border-spacing:0;color:white;background:#333333;padding:20px">
          <tr>
            <td style="font-family:helvetica;color:white">
              <center>
                <table style="max-width:560px;text-align:left;border-spacing:0;margin:0=auto;color:white">
                  <tr>
                    <td style="font-family:helvetica;color:white">
                      <table style="width:100%;border-spacing:0;color:white">
                        <tr>
                          <td style="font-family:helvetica;color:white"><img
                              src="https://images2.=imgbox.com/63/e7/BPGMUlpc_o.png" alt="Glow LEDs Logo" title="Glow
                        LEDs=Logo" style="width:100%;margin-left:-15px" /></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table style="max-width:560px;width:100%;text-align:left;border-spacing:0;margin:0 auto;color:white">
                  <tr>
                    <td style="font-family:helvetica;color:white">
                      <h4 style="text-align:center;font-family:helvetica;width:100%=;margin:0
                    auto;line-height:50px;color:white;font-size:2em"> Thank you for =
                        your purchase!</h4>
                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
        </table>
        <table style="width:100%;border-spacing:0;padding:5px">
          <tr>
            <td style="font-family:helvetica;border:0">
              <center>
                <table style="max-width:560px;width:100%;text-align:left;border-spacing:0;margin:0 auto">
                  <tbody>
                    <tr>
                      <td style="font-family:helvetica">
                        <p style="color:white;line-height:150%;font-size:16px;margin:0">
                        <p style="font-size:16px">Hi Andrew, we&#x27;re getting your order ready to =
                          be shipped. We will notify you when it has been sent.</p>
                        </p>
                        <table style="width:100%;border-spacing:0;margin-top:20px">
                          <tbody>
                            <tr style="font-family:helvetica;line-height:0em">
                              <td style="font-family:helvetica;line-height:0em"></td>
                            </tr>
                            <tr>
                              <td style="font-family:helvetica">
                                <table style="border-spacing:0;float:left=;margin-right:15px">
                                  <tbody>
                                    <tr>
                                      <td style="font-family:helvetica;border-radius:4px" align="center"
                                        bgcolor="#4c4f60"><a
                                          style="font-size:16px;text-decoration:none;display:block;color:white;padding:20px 25px;background-color:#4c4f60;border:none"
                                          href="https://www.glow-leds.=com/account/login?redirect=/secure/account/order/60d4fef3eeb451002a4f9344=">View
                                          your order</a></td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table style=" border-spacing:0;margin-top:19px">
                                  <tbody>
                                    <tr style="font-family:helvetica;border-radius:4px">
                                      <td>or
                                        <a style="font-size:16px;text-decoration:none;color:white"
                                          href="https://www.glow-leds.com/">Visit
                                          our store</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </center>
            </td>
          </tr>
        </table>
        <table style="width:100%;border-spacing:0;padding:5px">
          <tr>
            <td style="font-family:helvetica;padding:40px 0">
              <center>
                <table style="max-width:560px;width:100%;text-align:left;border-spacing:0;padding:5px;margin:0 auto">
                  <tbody>
                    <tr>
                      <td style="font-family:helvetica">
                        <h3 style="font-weight:normal;font-size:20px;margin:0 0 25px">Order Summary</h3>
                      </td>
                    </tr>
                    <tr>
                      <td colSpan="2" style="vertical-align:top;line-height:25px" valign="top">
                        <table style="width:100%;line-height:inherit;text-align:left" width="100%" align="left">
                          <tbody>
                            <tr>
                              <td style="vertical-align:top;line-height:45px;color:#333" valign="top"></td>
                              <td style="vertical-align:top;text-align:right;color:white;font-size:16px" valign="top"
                                align="right"><strong>Order #:</strong>
                                60d4fef3eeb451002a4f9344<br /><strong>Created:</strong> =
                                06/24/2021<br /></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table style="max-width:560px;padding:5px;text-align:left;border-spacing:0;margin:0 auto">
                  <tr>
                    <td style="font-family:helvetica">
                      <table style="width:100%;border-spacing:0">
                        <tbody>
                          <tr>
                            <td style="font-family:helvetica">
                              <table style="width:100%;border-spacing:0;border-bottom:1px white solid">
                                <tbody>
                                  <tr style="width:100%">
                                    <td style="font-family:helvetica">
                                      <table style="border-spacing:0;width:100%;margin:10px auto">
                                        <tbody>
                                          <tr>
                                            <td style="font-family:helvetica">
                                              <img src="https://thumbs2.imgbox.com/e0/05/WpoiSX7f_t.jpeg" align="left"
                                                width="60" height="60" alt="text"
                                                style="margin-right:15px;border-radius:8px" />
                                            </td>
                                            <td style="font-family:helvetica;width:100%">
                                              <span style="font-size:16px;font-weight:600;line-height:1.4;color:white">
                                                <div>Black Leaf Diffuser Caps - 15 mm (Classic) =
                                                </div>
                                              </span><br />
                                            </td>
                                            <td style="font-family:helvetica;width:100%;white-space:nowrap">
                                              <p style="color:white;line-height:150%;font-size:16px;font-weight:600;margin:0
                                          0 0 15px" align="right"><label>$11.=
                                                  99</label></p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-family:helvetica">
                              <table style="width:100%;border-spacing:0;border-bottom:1px white solid">
                                <tbody>
                                  <tr style="width:100%">
                                    <td style="font-family:helvetica">
                                      <table style="border-spacing:0;width:100%;margin:10px auto">
                                        <tbody>
                                          <tr>
                                            <td style="font-family:helvetica"><img
                                                src="https://thumbs2.imgbox.com/13/84/SZGrKkgN_t.jpeg" align="left"
                                                width="60" height="60" alt="text"
                                                style="margin-right:15px;border-radius:8px" /></td>
                                            <td style="font-family:helvetica;width:100%"><span
                                                style="font-size:16px;font-weight:600;line-height:1.4;color:white">
                                                <div>Black Alien Diffuser Caps -=
                                                  15 mm (Classic) </div>
                                              </span><br /></td>
                                            <td style="font-family:helvetica;width:100%;white-space:nowrap">
                                              <p style="color:white;line-height:150%;font-size:16px;font-weight:600;margin:0
                                          0 0 15px" align="right"><label>$11.=
                                                  99</label></p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-family:helvetica">
                              <table style="width:100%;border-spacing:0;border-bottom:1px white solid">
                                <tbody>
                                  <tr style="width:100%">
                                    <td style="font-family:helvetica">
                                      <table style="border-spacing:0;width:100%;margin:10px auto">
                                        <tbody>
                                          <tr>
                                            <td style="font-family:helvetica"><img
                                                src="https://thumbs2.imgbox.com/f3/de/Eu38XWrv_t.jpg" align="left"
                                                width="60" height="60" alt="text"
                                                style="margin-right:15px;border-radius:8px" /></td>
                                            <td style="font-family:helvetica;width:100%"><span
                                                style="font-size:16px;font-weight:600;line-height:1.4;color:white">
                                                <div>Clear Nano V2 Glow Casings =
                                                  - 10 </div>
                                              </span><br /></td>
                                            <td style="font-family:helvetica;width:100%;white-space:nowrap">
                                              <p style="color:white;line-height:150%;font-size:16px;font-weight:600;margin:0
                                          0 0 15px" align="right"><label>$15.=
                                                  99</label></p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-family:helvetica">
                              <table style="width:100%;border-spacing:0;border-bottom:1px white solid">
                                <tbody>
                                  <tr style="width:100%">
                                    <td style="font-family:helvetica">
                                      <table style="border-spacing:0;width:100%;margin:10px auto">
                                        <tbody>
                                          <tr>
                                            <td style="font-family:helvetica"><img
                                                src="https://thumbs2.imgbox.com/7d/5b/JurnjWf6_t.jpg" align="left"
                                                width="60" height="60" alt="text"
                                                style="margin-right:15px;border-radius:8px" /></td>
                                            <td style="font-family:helvetica;width:100%"><span
                                                style="font-size:16px;font-weight:600;line-height:1.4;color:white">
                                                <div>Green Diffuser Adapters (No=
                                                  Caps) - Translucent White </div>
                                              </span><br /></td>
                                            <td style="font-family:helvetica;width:100%;white-space:nowrap">
                                              <p style="color:white;line-height:150%;font-size:16px;font-weight:600;margin:0
                                          0 0 15px" align="right"><label>$11.99</label></p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table style="width:100%;border-spacing:0">
                        <tbody>
                          <tr>
                            <td style="font-family:helvetica;width:40%"></td>
                            <td style="font-family:helvetica">
                              <table style="width:100%;border-spacing:0;margin-top:20px">
                                <tbody>
                                  <tr>
                                    <td style="font-family:helvetica;padding:5px 0;width:100%">
                                      <p style="color:white;line-height:1.2em;font-size:16px;margin:0">
                                        <span style="font-size:16px">Discount</span><span
                                          style="font-size:16px;margin-left:5px"><i width="18" height="18"
                                            style="vertical-align:middle;margin-right:10px" class="fas fa-tag"></i><span
                                            style="font-size:14px;line-height:1.1;margin-left:-4px">FLOWSONN</span></span>
                                      </p>
                                    </td>
                                    <td style="font-family:helvetica;padding:5px 0;text-align:right" align="right">
                                      <strong style="font-size:16px;color:white">-$5.=
                                        20</strong>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family:helvetica;padding:5px 0">
                                      <p style="color:white;line-height:1.2em;font-size:16px;margin:0">
                                        <span style="font-size:16px">Subtotal</span>
                                      </p>
                                    </td>
                                    <td style="font-family:helvetica;padding:5px 0;text-align:right" align="right">
                                      <strong style="font-size:16px;color:white">$46.=
                                        76</strong>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family:helvetica;padding:5px 0">
                                      <p style="color:white;line-height:1.2em;font-size:16px;margin:0">
                                        <span style="font-size:16px">Shipping</span>
                                      </p>
                                    </td>
                                    <td style="font-family:helvetica;padding:5px 0;text-align:right" align="right">
                                      <strong style="font-size:16px;color:white">$7.=
                                        70</strong>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="font-family:helvetica;padding:5px 0">
                                      <p style="color:white;line-height:1.2em;font-size:16px;margin:0">
                                        <span style="font-size:16px">Taxes</span>
                                      </p>
                                    </td>
                                    <td style="font-family:helvetica;padding:5px 0;text-align:right" align="right">
                                      <strong style="font-size:16px;color:white">$2.92</strong>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <table
                                style="width:100%;border-spacing:0;margin-top:20px;border-top-width:2px;border-top-color:white;border-top-style:solid">
                                <tbody>
                                  <tr>
                                    <td style="font-family:helvetica;padding:20px 0 0">
                                      <p style="color:white;line-height:1.2em;font-size:16px;margin:0">
                                        <span style="font-size:16px">Total</span>
                                      </p>
                                    </td>
                                    <td style="font-family:helv=etica;padding:20px 0 0" align="right"><strong
                                        style="font-size:24px;color:white">$57.39</strong></td>
                                  </tr>
                                </tbody>
                              </table>
                              <p style="color:white;line-height:1.1;font-size:16px;margin:10px 0 0" align="right">You
                                saved
                                <span style="font-size:16px;color:white">$5.=
                                  20</span>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </center>
            </td>
          </tr>
        </table>
        <table style="width:100%;padding:5px;border-spacing:0">
          <tbody>
            <tr>
              <td style="font-family:helvetica;padding:40px 0 0">
                <center>
                  <table style="max-width:560px;width:100%;text-align:left;border-spacing:0;padding:5px;margin:0 auto">
                    <tbody>
                      <tr>
                        <td style="font-family:helvetica">
                          <h3 style="font-weight:normal;font-size:20px;margin:0 0 25px"><strong>Customer
                              Information</strong></h3>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table style="max-width:560px;width:100%;text-align:left;border-spacing:0;margin:0 auto">
                    <tbody>
                      <tr>
                        <td style="font-family:helvetica">
                          <table style="width:100%;border-spacing:0">
                            <tbody>
                              <tr>
                                <td style="font-family:helvetica;padding-bottom:40px;width:50%">
                                  <h4 style="font-weight:500;font-size:16px;color:white;margin:0 0 5px"><strong>Shipping
                                      Address</strong></h4>
                                  <p style="color:white;line-height:150%;font-size:16px;margin:0">Andrew
                                    Grice<br />2625 Alcott
                                    Ln
                                    =
                                    <br />Austin, Texas 78748<br />United States<br />trogcarch@yahoo.=
                                    com
                                  </p>
                                </td>
                                <td style="font-family:helvetica;padding-bottom:40px;width:50%">
                                  <h4 style="font-weight:500;font-size:16px;color:white;margin:0 0 5px"><strong>Billing
                                      Address</strong></h4>
                                  <p style="color:white;line-height:150%;font-size:16px;margin:0">Andrew
                                    Grice<br />2625 Alcott
                                    Ln
                                    =
                                    <br />Austin, Texas 78748<br />United States
                                  </p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <ta ble style="width:100%;border-spacing:0">
                    <tbody>
                      <tr>
                        <td style="font-family:helvetica;padding-bottom:40px;width:50%">
                          <h4 style="font-weight:500;font-size:16px;color:white;margin:0 0 5px"><strong>Shipping
                              Method</strong>
                          </h4>
                          <p style="color:white;line-height:150%;font-size:16px;margin:0">Priority</p>
                        </td>
                        <td style="font-family:helvetica;padding-bottom:40px;width:50%">
                          <h4 style="font-weight:500;font-size:16px;color:white;margin:0 0 5px"><strong>Payment
                              Method</strong>
                          </h4>
                          <p style="color:white;line-height:150%;font-size:16px;margin:0"><img
                              src="https://images2.imgbox.com/18/a3/wHEnyn5x_o.png"
                              style="height:24px;display:inline-block;margin-right:10px;margin-top:5px;margin-bottom:-6px"
                              alt="card_logo" /> <span style="font-size:16px">ending with 6430 <strong
                                style="font-size:16px;color:white">$57.39</strong></span></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </td>
            </tr>
          </tbody>
        </table>
        </center>
      </td>
    </tr>
    </tbody>
  </table>
  <table style="max-width:400px;text-align:center;border-spacing:0px;margin:10px auto;width:100%">
    <tbody>
      <tr>
        <td style="font-family:helvetica;font-size:30px;color:white">
          <table style="max-width:560px;text-align:left;border-spacing:0;margin:0 auto">
            <tbody>
              <tr>
                <td style="font-family:helvetica">
                  <p style="text-align:center;font-size:14px;color:white"><strong>Tag us in =
                      your videos and pictures!</strong></p>
                  <p style="text-align:center;font-size:14px;color:white;margin-bottom:-10px">We want to feature
                    you!</p>
                  <table style="max-width:560px;text-align:left;border-spacing:0;margin:25px auto">
                    <tbody>
                      <tr>
                        <td style="font-family:helvetica"><a
                            href="https://www=.glow-leds.com/pages/contact/submit_content_to_be_featured" style="background-color:#4c4f60;color:white;border-radius:10px;border:0;padding:15px;font-family:helvetica;margin:0;font-weight:800;font-size:16px;text-align:center;text-decoration:none
                              !important;line-height:inherit !important">Feature Content</a></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
            <= /table>
        </td>
      </tr>
    </tbody>
  </table>
  <table style="width:100%;border-spacing:0;border-top-width:1px;border-top-style:solid;background-color:#333333">
    <tbody>
      <tr>
        <td style="font-family:helvetica;padding-bottom:35px 0">
          <center>
            <table style="max-width:400px;text-align:center;border-spacing:0px;margin:10px auto;width:100%">
              <tbody>
                <tr>
                  <td style="font-family:helve=tica;font-size:30px;color:white"><a
                      href="https://www.facebook.com/Glow-LEDscom-100365571740684" target="_blank"
                      rel="noopener=noreferrer"><img
                        src="https://images2.imgbox.com/9b/a0/XAC4qmRL_o.png"=style="height:25px" alt="Facebook"
                        title="Facebook=Logo" /></a></td>
                  <td style="font-family:helvetica;font-size:30px;color:whi=te"><a
                      href="https://www.instagram.com/glow_leds/" target="_blank" rel="noopener noreferrer"><img
                        src="https://images2.imgbox.=com/d2/77/vuk6FOeW_o.png" style="height:25px" alt="Instagram"
                        title="Instagram Logo" /></a></td>
                  <td style="font-family:helvetica;font-size:30px;color:white"><a
                      href="https://www.tiktok.com/@glow_leds?lang=en" target="_blank" rel="noopener
                        noreferrer"><img src="https://images2.imgbox.com/c1/ea/6hNkTIwU_o.png" style="height:22px"
                        alt="Tiktok" title="Tiktok Logo" /></a></td>
                  <td style="font-family:helvetica;font-size:30px;color:white">
                    <a href="https://www.youtube.com/channel/UCm_gDyTIy7d0oR9LeowPkYw?=sub_confirmation=1"
                      target="_blank" rel="noopener
                        noreferrer"><img src="https://images2.imgbox.com/c9/83/3Z0OwK1r_o.png" style="height:22px"
                        alt="Youtube" title="Youtube=Logo" /></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <table style="max-width:560px;text-align:left;border-spacing:0;margin:0 auto">
              <tbody>
                <tr>
                  <td style="font-family:helvetica">
                    <p style="color:white;line-height:150%;font-size:14px;margin:0;text-align:center">If you have
                      any questions, reply =
                      to this email or contact us at <a href="mailto:info.glowleds@gmail.com"
                        style="font-size:14px;text-decoration:none;color:#009eff">info.glowleds@gmail.com</a></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
      </tb= ody>
  </table>
  </td>
  </tr>
  </table>
</body>