.tutorials-grid-container {
  max-width: 1200px;
  margin: 0 auto;
}

.tutorials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.tutorial-card {
  border-radius: 20px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .tutorials-grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
