$theme_color_dark: #272727;
$theme_color_light: #8a8a8a;
$theme_color_header: #333333;
$theme_color_action: #585858;
$theme_color_form: #5a5a5a;
$theme_color_sidebar: #2d2d2de6;
$theme_color_sidebar_primary: #969696;
$theme_color_sidebar_secondary: #5d5d5d;
$theme_color_sidebar_hover: #5d5d5d;
$theme_color_primary: #4d5061;
$theme_color_primary_hover: #393e55;
$theme_color_secondary: #6a6c80;
$theme_color_secondary_hover: #4d5061;
$theme_color_validations: #ff4a4a;
$theme_color_border: 1px solid #757575;

// $background_color: #272727;
// $content_gradient_light: #8a8a8a;
// $content_gradient_dark: #272727;
// $content_color: linear-gradient(180deg, $content_gradient_light, $content_gradient_dark);
// $validation_color: #ff4a4a;
// $primary_color: #4d5061;
// $primary_hover_color: #393e55;
// $secondary_color: #6a6c80;
// $secondary_hover_color: #4d5061;
// $header_color: #333333;
// $sidebar_button_color: #969696;
