@font-face {
	font-family: "main_font";
	src: url("/fonts/Neou-Bold.otf");
}

@font-face {
	font-family: "heading_font";
	src: url("/fonts/beyond_the_mountains.otf");
}

$main_font: main_font;
$heading_font: heading_font;
$font_color: white;
$font_size: 1.6rem;
