.place_div {
  position: relative;
}

.place_holder {
  transition: all 0.2s;
  transform-origin: 0% 0%;

  top: 20px;
  left: 10px;
}

.place_input:valid + .place_holder,
.place_input:focus + .place_holder {
  transform: scale(0.8) translateY(-38px);
}
