@use '../abstracts' as *;

/* forms */

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.form-container {
	display: flex;
	width: 28rem;
	flex-direction: column;
	max-width: 32rem;
	padding: 2rem;
	box-shadow: $bs_deep;
	background-color: $theme_color_form;
	border-radius: $br_small_containers;
	list-style-type: none;
	margin: 0 auto;
	li {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
}
.shipping-container {
	display: flex;
	// width: 28rem;
	flex-direction: column;
	// max-width: 32rem;
	// padding: 2rem;
	// box-shadow: $bs_deep;
	// background-color: $theme_color_form;
	// border-radius: $br_small_containers;
	list-style-type: none;
	// margin: 0 auto;
	li {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
}
.edit-form-container {
	display: flex;
	// width: 80rem;
	flex-direction: column;
	max-width: 32rem;
	padding: 2rem;
	box-shadow: $bs_deep;
	background-color: $theme_color_form;
	border-radius: $br_small_containers;
	list-style-type: none;
	margin: 0 auto;
	li {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
}

.form_input {
	font-size: $font_size;
	border-radius: $br_small_containers;
	box-shadow: $bs_deep;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	margin-top: 1rem;
	width: 100%;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
	font-size: 16px;
}

.auto-option:hover {
	background-color: $theme_color_secondary;
}
// .auto-container {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	width: 200px;
// }

// .logo {
// 	height: 70px;
// 	width: 200px;
// 	background-size: contain;
// 	background-repeat: no-repeat;
// }

// // input {
// // 	padding: 10px;
// // 	height: 20px;
// // 	width: 500px;
// // 	border: 1px solid purple;
// // 	margin: 10px;
// // 	font-size: 18px;
// // 	text-transform: capitalize;
// // }

// .pos-rel {
// 	position: relative;
// }

// .autoContainer {
// 	position: absolute;
// 	border-width: 0px 1px 1px 1px;
// 	border-style: solid;
// 	border-color: goldenrod;
// 	background-color: whitesmoke;
// 	right: 10px;
// 	top: 52px;
// 	width: 520px;
// }

// .option {
// 	display: flex;
// 	align-items: center;
// 	justify-content: space-between;
// 	width: 500px;
// 	padding: 5px;
// }

// .option,
// span {
// 	font-size: 28px;
// 	text-transform: capitalize;
// }

// .flex-container {
// 	display: flex;
// }

// .flex-column {
// 	flex-direction: column;
// }

.form {
	.form-item {
		margin-bottom: 3rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
