@use "../abstracts" as *;

navbar {
  background-color: $theme_color_navbar;
  color: $theme_color_phrase_font;
  box-shadow: $bs_deep;
  z-index: 1000;
}

.navbar-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  padding-top: 15px;
  list-style-type: none;
  right: 0;
  left: 0;
  z-index: 1000;
  top: 0;
  // margin-top: 22px;
  width: 100%;
}
.navbar-center-dropdown-container:hover .navbar-center-dropdown {
  display: flex;
  flex-direction: column;
}

.navbar-center-dropdown {
  background: linear-gradient(180deg, $theme_color_navbar 0%, $theme_color_primary 100%);
  position: absolute;
  display: none;
  left: 0;
  width: 100%;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: $theme_color_navbar_dropdown;
  margin: 0;
  // box-shadow: $bs_deep;
}
.navbar-drawer {
  // display: none;
  white-space: nowrap;
  overflow: hidden;
  left: 0;
  max-width: 0px;
  width: 100%;
  list-style-type: none;
  z-index: 1;
  margin: 0;
  // max-width: 250px;
  transition: all 0.5s;
}

.show-navbar-drawer {
  // display: block !important;
  max-width: 250px;
  transition: all 0.5s;
}

.navbar-subdrawer {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  left: 0;
  max-width: 0px;
  width: 100%;
  list-style-type: none;
  z-index: 1;
  margin: 0;
  // max-width: 250px;
  transition: all 0.5s;
}
.show-navbar-subdrawer {
  // display: block !important;
  max-width: 250px;
  transition: all 0.5s;
}

.navbar-drawer-button {
  background-color: $theme_color_primary;
  color: $theme_color_phrase_font;
  border: 0px;
  // font-family: $paragraph_font;
  border-radius: 0rem 1rem 1rem 0rem;
  transition: all 0.5s ease;
  padding: 10px;
  // transform: rotate(90deg);
  height: 20%;
  width: 41px;
}

.navbar-drawer-button:hover {
  box-shadow: $bs_deep;
  background-color: $theme_color_primary_hover;
}

.navbar-drawer-button-container {
  display: flex;
  // justify-content: space-between;
  width: 100%;
  align-items: center;
}

.hide-menu {
  // display: block !important;
  max-height: 1500px !important;
}

.navbar-column {
  width: 100%;
  max-width: 300px;
  transition: all 0.5s ease;
}
