@use '../abstracts' as *;

header {
	background-color: $theme_color_header;
	color: $theme_color_phrase_font;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	list-style-type: none;
	box-shadow: $bs_deep;
	// position: fixed;
	// height: 160px;
	right: 0;
	left: 0;
	z-index: 100;
	top: 0;
	margin-top: 22px;
	width: 100%;
}
