@use '../abstracts' as *;

.react-tabs__tab-panel {
	padding: 1rem;
	background: linear-gradient(180deg, #4d5061 0%, #4d506100 200px);
	border: unset;
	border-radius: 10px;
}
// .react-tabs__tab-panel.react-tabs__tab-panel--selected:first-of-type {
// 	border-radius: 0px 10px 10px 10px;
// }
// // .react-tabs__tab-panel:first-of-type {
// // 	border-radius: 0px 10px 10px 10px;
// // }
// // .react-tabs__tab-panel:last-of-type {
// // 	border-radius: 10px 0px 10px 10px;
// // }
// .react-tabs:first-child {
// 	border-radius: 0px 10px 10px 10px;
// }
// .react-tabs:last-child {
// 	border-radius: 10px 0px 10px 10px;
// }
.react-tabs__tab-list {
	margin: 0px !important;
	border: unset !important;
	display: flex;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.react_tabs {
	position: relative;
}

.react-tabs__tab.react-tabs__tab--selected {
	background-color: $theme_color_primary;
	color: white;
	border: unset;
	// -webkit-box-shadow: 0px -9px 50px -10px rgba(0, 0, 0, 0.63);
	// box-shadow: 0px -9px 50px -10px rgba(0, 0, 0, 0.63);
}

.react-tabs__tab {
	white-space: nowrap;
}

.tab_indicator {
	position: absolute;
	right: 0px;
}

// .table-responsive {
// 	background-image: linear-gradient(to right, white, white), linear-gradient(to right, white, white),
// 		linear-gradient(to right, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0)),
// 		linear-gradient(to left, rgba(0, 0, 20, .50), rgba(255, 255, 255, 0));
// 	/* Shadows */
// 	/* Shadow covers */
// 	background-position: left center, right center, left center, right center;
// 	background-repeat: no-repeat;
// 	background-color: white;
// 	background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
// 	background-attachment: local, local, scroll, scroll;
// }
