@use '../abstracts' as *;

.react-tabs__tab-panel {
	padding: 1rem;
	background: linear-gradient(180deg, #4d5061 0%, #4d506100 200px);
	border: unset;
	border-radius: 10px;
}

.react-tabs__tab-list {
	margin: 0px !important;
	border: unset !important;
	display: flex;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}
.react_tabs {
	position: relative;
}

.react-tabs__tab.react-tabs__tab--selected {
	background-color: $theme_color_primary;
	color: white;
	border: unset;
	// -webkit-box-shadow: 0px -9px 50px -10px rgba(0, 0, 0, 0.63);
	// box-shadow: 0px -9px 50px -10px rgba(0, 0, 0, 0.63);
}

.react-tabs__tab {
	white-space: nowrap;
}

.tab_indicator {
	position: absolute;
	right: 0px;
}
