@use "../abstracts" as *;

/* Place Order */

.place_order {
  display: flex;
  flex-grow: wrap;
  padding: 1rem;
  justify-content: space-between;
  color: $theme_color_phrase_font;
}

.place_order-info {
  // flex: 6 1 60rem;
  flex: 1 0 34rem;
}

.place_order-action {
  flex: 1 1 60rem;
  // flex: 1 0 34rem;
  box-shadow: $bs_deep;
  border-radius: $br_small_containers;
  // background-color: #fcfcfc;
  height: 100%;
  padding: 2rem;
  background-color: transparent;
  margin-bottom: 10px;
}

.place_order-info > div {
  box-shadow: $bs_deep;
  border-radius: $br_small_containers;
  // background-color: #fcfcfc;
  padding: 2rem;
  margin: 1rem;
  background-color: transparent;
}

.place_order-info > div:first-child {
  margin-top: 0;
}

.place_order-action > ul {
  padding: 0;
  list-style-type: none;
}

.place_order-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.place_order-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: $theme_color_phrase_font;
}

.place_order-actions-payment > div {
  width: 100%;
}
