@use '../abstracts' as *;

/* Product */

.products {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
	li {
		padding: 0;
		flex: 0 1 34rem;
		margin: 1rem;
	}
}

.small_screen_product {
	display: flex;
	// flex-direction: column;
	// justify-content: space-between;
	height: 100%;
	width: 100%;
	// text-align: center;
	border-radius: $br_small_containers;
	box-shadow: 0;
	transition: box-shadow 0.5s ease-out;
	padding: 15px;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	text-align: center;
	border-radius: $br_small_containers;
	box-shadow: 0;
	transition: box-shadow 0.5s ease-out;
	padding: 15px;
}

.product:hover {
	box-shadow: $bs_deep;
}
.small_screen_product:hover {
	box-shadow: $bs_deep;
}

.product-name {
	font-size: 2rem;
	font-weight: bold;
}

.product-brand {
	font-size: 1.2rem;
	color: $theme_color_phrase_font;
}

.product-price {
	font-size: 2rem;
	font-weight: bold;
}

.product-image {
	max-width: 34rem;
	max-height: 34rem;
	border-radius: $br_small_containers;
	object-fit: cover;
	object-position: 50% 50%;
	width: 300px;
	height: 300px;
	margin: auto;
}

.product-rating {
	margin-bottom: 1rem;
}

.edit_product_textarea {
	resize: none;
	height: 15rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Product Details */

.details {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 1rem;
}

.details-image {
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.details-image-img {
	border-radius: $br_small_containers;
	object-fit: cover;
	object-position: 50% 50%;
	width: 500px;
	height: 500px;
}

.details-info {
	flex: 1 1 30rem;
	li {
		margin-bottom: 1rem;
	}
	ul {
		list-style-type: none;
		padding: 0;
	}
}

.details-action {
	box-shadow: $bs_deep;
	border-radius: $br_medium_containers;
	background-color: $theme_color_action;
	padding: 1rem;
	flex: 1 1 30rem;
	li {
		margin-bottom: 1rem;
	}
	ul {
		list-style-type: none;
		padding: 0;
		li:last-child {
			display: flex;
			flex-direction: column;
		}
	}
}

.product_list_item {
	box-shadow: $bs_deep;
	border-radius: $br_large_containers;
	padding: 10px;
	padding-left: 25px;
	margin-bottom: 10px;
}

.products_list {
	ul {
		margin-left: 20px;
	}
}
