@use "../abstracts" as *;

.search_input {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 45rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: $br_small_containers;
  border: 0.1rem #c0c0c0 solid;
  font-size: $font_size;
  margin-right: 5px;
}

.search_input {
  padding: 1rem;
  border-radius: $br_small_containers;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.3rem;
  margin-right: 5px;
  height: 10px;
  width: 250px;
}
