@use "../abstracts" as *;
// Shipping Rates

.rate-container {
  display: flex; /* Create a flex container */
  align-items: stretch;
}

.shipping_rates {
  box-shadow: $bs_deep;
  font-size: 1.5rem;
  padding: 12px 10px;
  background: $theme_color_secondary;
  color: $theme_color_phrase_font;
  border: 0;
  // position: relative;
  border-radius: 10px;
  transition: all 0.5s ease;
  font-family: "phrase_font";
  border-radius: 10px 0 0 10px;
  flex-grow: 1;
}

.select-label {
  margin-right: 5px;
}

.rates {
  // position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: $theme_color_primary;
  box-shadow:
    4px 4px 8px 0 rgba(0, 0, 0, 0.2),
    4px 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 42px;
  width: 8rem;
  color: $theme_color_phrase_font;
  font-family: "phrase_font";
  // pointer-events: none;
  padding: 1rem;
  border-radius: 0 10px 10px 0;
  border: 0;
  flex-shrink: 0;
}
.rates:hover {
  background-color: $theme_color_primary_hover;
}

.rates::before,
.rates::after {
  --size: 0.4em;

  content: "";
  // position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pac-container {
  z-index: 2000 !important; /* You might need to adjust this value */
}
