@use '../abstracts' as *;

/* Slide Show */

* {
	box-sizing: border-box;
}

/* The grid: Four equal columns that floats next to each other */

.picture-chooser-container {
	float: left;
	width: 30%;
	padding: 10px;
}

/* Style the images inside the grid */

.picture-chooser-container img {
	opacity: 0.8;
	cursor: pointer;
	height: unset;
	border-radius: $br_small_containers;
}
// .picture-chooser-container img:first-child {
// 	padding-left: 0px;
// }

.picture-chooser-container img:hover {
	opacity: 1;
}

.slideshow-img-container {
	position: relative;
	height: 75%; /* or whatever is required */
	text-align: center; /* ensures the image is always in the h-middle */
	overflow: hidden; /* hide the cropped portion */
	border-radius: 10px;
}

.slideshow-img-container {
	button {
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translate(-50%, 50%);
		z-index: 1;
	}
}

.slideshow-img-container img {
	position: relative; /* allows repositioning */
	left: 100%; /* move the whole width of the image to the right */
	top: -15%; /* move the whole width of the image to the right */
	margin-left: -200%; /* magic! */
	object-fit: cover;
	object-position: 50% 50%;
	border-radius: $br_small_containers;
	width: 100%;
	border-radius: 1rem;
}

.slide {
	margin-right: .5% !important;
	margin-left: .5% !important;
	min-width: 99% !important;
}

.thumb {
	transition: all .5s ease-in;
	display: inline-block;
	margin-right: 6px;
	white-space: nowrap;
	border: unset !important;
	overflow: hidden;
	padding: 2px;
}
// .thumb img {
// 	box-shadow: $bs_shallow;
// }

// .carousel-item {
// 	box-shadow: $bs_shallow;
// }

// .carousel-item :hover {
// 	border: unset;
// 	box-shadow: $bs_deep;
// }

// .slide {
// 	height: 75%;
// }

// .carousel.carousel-slider {
// 	height: 500px;
// }

/* The expanding image container */

// .container {
// 	position: relative;
// 	display: none;
// }

// .swiper-container {
// 	width: 100%;
// 	height: 100%;
// }

// .swiper-slide {
// 	text-align: center;
// 	font-size: 18px;
// 	// background: #fff;
// 	color: black;

// 	/* Center slide text vertically */
// 	display: -webkit-box;
// 	display: -ms-flexbox;
// 	display: -webkit-flex;
// 	display: flex;
// 	-webkit-box-pack: center;
// 	-ms-flex-pack: center;
// 	-webkit-justify-content: center;
// 	justify-content: center;
// 	-webkit-box-align: center;
// 	-ms-flex-align: center;
// 	-webkit-align-items: center;
// 	align-items: center;
// }

// .swiper-slide img {
// 	// display: block;
// 	width: 100%;
// 	height: auto;
// 	// object-fit: cover;
// }

// .swiper-container {
// 	width: 100%;
// 	height: 100%;
// 	height: 400px;
// }

// .swiper-slide {
// 	height: 400px;
// 	text-align: center;
// 	font-size: 18px;
// 	background: #000;
// }

// .swiper-slide img {
// 	width: auto;
// 	height: auto;
// 	max-width: 100%;
// 	max-height: 100%;
// 	-ms-transform: translate(-50%, -50%);
// 	-webkit-transform: translate(-50%, -50%);
// 	-moz-transform: translate(-50%, -50%);
// 	transform: translate(-50%, -50%);
// 	position: absolute;
// 	left: 50%;
// 	top: 50%;
// }

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	overflow: hidden;
}
