@use "../abstracts" as *;

.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 200px;
  border-radius: 10px;
  box-shadow: $bs_deep;
}
.custom-select-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 2em 0.55em 1em;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  height: 40px;
  line-height: 60px;
  background: $theme_color_primary;
  cursor: pointer;
  border-radius: 10px;
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  // border: 2px solid #394a6d;
  border-top: 0;
  background: white;

  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  border-radius: 0 0 10px 10px;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-select.open .custom-select__trigger {
  border-radius: 10px 10px 0 0;
}

.custom-select.open .arrow-button {
  border-radius: 0 10px 0 0;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0.75em 2em 0.55em 1em;
  font-size: 1.5rem;
  font-weight: 300;
  height: 40px;
  color: $theme_color_primary;
  // line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option:last-child {
  border-radius: 0 0 10px 10px;
}
.custom-option:hover {
  cursor: pointer;
  color: white;
  background-color: $theme_color_primary_hover;
}
.custom-option:last-child:hover {
  cursor: pointer;
  color: white;
  background-color: $theme_color_primary_hover;
  border-radius: 0 0 10px 10px;
}
.custom-option.selected {
  color: white;
  background-color: $theme_color_primary;
}

.arrow {
  position: relative;
  height: 10px;
  width: 10px;
}
.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  top: 15px;
  // left: 30px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: 13px;
  transform: rotate(45deg);
  background-color: white;
}
.arrow::after {
  left: 19px;
  transform: rotate(-45deg);
  background-color: white;
}
.open .arrow::before {
  left: 13px;
  transform: rotate(-45deg);
}
.open .arrow::after {
  left: 19px;
  transform: rotate(45deg);
}

.arrow-button {
  position: relative;
  height: 40px;
  width: 35px;
  background-color: #3b3c47;
  left: 30px;
  border-radius: 0 10px 10px 0;
}
