@use "../abstracts" as *;

.glow_leds_text {
  font-size: 67px;
  margin: 0;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 17px;
  display: flex;
  font-family: $heading_font;
  // text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  text-shadow:
    0 0 10px #fff,
    0 0 30px;
}
.make_it_glow_text {
  font-size: 67px;
  margin: 0;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 17px;
  display: flex;
  font-family: $heading_font;
  // text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  text-shadow:
    0 0 10px #fff,
    0 0 30px;
}

.validation_text {
  font-size: 14px;
  justify-content: center;
  color: $theme_color_validations;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
