@use "../abstracts" as *;

/* Tooltip container */
.tooltip {
  position: relative;
  // display: inline-block;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  // color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 25%;
}

.tooltipoverlay {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  z-index: 99;
  transition: background-color 0.5s ease-out;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltipoverlay:hover {
  background: #0000001c;
  z-index: 99;
}

// .image-btn-container {
// 	position: relative;
// }
.image-btn {
  visibility: hidden;
}

.product:hover .image-btn {
  visibility: visible;
}

// .product:hover.image-btn {
// 	visibility: visible !important;
// }
