.header {
  grid-area: header;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0.5rem;
  /* height: 103px; */
  background: linear-gradient(90deg, #00ffbe, #0076ff, #7600ff, #ff00c8, #ff0000);
}

.logo {
  margin-right: 80px;
}

.zoom {
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zoom::after {
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zoom:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.zoom:hover::after {
  opacity: 1;
}

.zoom:active {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.zoom:active::after {
  opacity: 1;
}