@font-face {
  font-family: "heading_font";
  src: url("/fonts/beyond_the_mountains.otf");
}

.header {
  grid-area: header;
  background-color: #333333;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  list-style-type: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
}

.logo {
  margin-right: 130px;
}

.zoom {
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zoom::after {
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.zoom:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.zoom:hover::after {
  opacity: 1;
}

.zoom:active {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.zoom:active::after {
  opacity: 1;
}