.trans-neg-180 {
	-webkit-ransform: rotate(-90);
}
.trans-neg-180 {
	-webkit-ransform: rotate(-180deg);
}
.trans-neg-270 {
	-webkit-ransform: rotate(-270deg);
}
.trans-90 {
	-webkit-ransform: rotate(90deg);
}
.trans-180 {
	-webkit-ransform: rotate(180deg);
}
.trans-270 {
	-webkit-ransform: rotate(270deg);
}
