$font_color: white;
$font_size: 1.6rem;
$validation_color: #ff4a4a;
$main_font: main_font;
$heading_font: heading_font;
$bs_shallow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
$bs_deep: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$br_small_containers: 1rem;
$br_medium_containers: 1.5rem;
$br_large_containers: 2rem;

@import '../appearance/colors.scss';

// Button

.btn {
	box-shadow: $bs_shallow;
	background-color: transparent;
	color: $font_color;
	border: 0px;
	font-family: $main_font;
	border-radius: $br_small_containers;
	transition: all .5s ease;
	padding: 10px;
}

.btn:hover {
	box-shadow: $bs_deep;
	background-color: #bebcbc;
}

// .btn.primary {
// 	background-color: #586086;
// }
.btn.primary {
	background-color: $theme_color_primary;
}

.btn.primary:hover {
	box-shadow: $bs_deep;
	background-color: $theme_color_primary_hover;
}
// .btn.primary {
// 	background-color: #865858;
// }

// .btn.primary:hover {
// 	box-shadow: $bs_deep;
// 	background-color: #6b3636;
// }

.btn.secondary {
	background-color: $theme_color_secondary;
}

.btn.secondary:hover {
	box-shadow: $bs_deep;
	background-color: $theme_color_secondary_hover;
}

.btn.nav {
	background-color: transparent;
	box-shadow: unset;
}

.btn.icon {
	box-shadow: unset;
	padding: 6px 10px;
}

.btn.icon:hover {
	background-color: gray;
	box-shadow: $bs_deep;
}

.btn.mobile.nav {
	background-color: transparent;
	box-shadow: unset;
}

.btn.nav:hover,
.btn.mobile.nav:hover {
	box-shadow: $bs_deep;
	background-color: gray;
}
