@import '../appearance/colors.scss';
@import './appearance/box_shadow.scss';
@import './appearance/border_radius.scss';
@import './appearance/font.scss';

.pagination {
  display: flex;
  justify-content: center;
  
}

ul {
  list-style: none;
  padding: 0;
  
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  // border: 1px solid #e2e2e2;
  background-color: $theme_color_primary;
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 10px;
  margin-left: 1rem;
}

ul.pagination li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

ul.pagination li.active a {
  color: $theme_color_primary_hover;
}
ul.pagination li.active {
  background-color: white;
}


// ul.pagination li a,
// ul.pagination li a.active:hover {
//   // background-color: $theme_color_primary_hover;
//   color: white;
// }
// ul.pagination li a:hover,
// ul.pagination li a.active {
//   background-color: $theme_color_primary_hover;
//   color: white;
// }
ul.pagination li:hover  {
  background-color: $theme_color_primary_hover;
}
ul.pagination li.active a:hover + ul.pagination li.active {
    color: white;
  // background-color: $theme_color_primary_hover;
}
// ul.pagination li.active a:hover {
//   background-color: $theme_color_primary_hover;
//   color: white;
// }