@use "../../../scss/abstracts" as *;

table.gl-table {
  border-radius: 10px;
  border-spacing: 0;
  border-collapse: collapse;
  // box-shadow: $bs_deep;
  width: 100%;
  border-radius: $br_small_containers;
  font-family: $title_font;
  margin-top: 10px;
}
table.gl-table td,
table.gl-table th {
  border-bottom: 1px solid white;
  padding: 10px;
}
table.gl-table th:first-child {
  border-radius: 10px 0 0 0;
}
table.gl-table th:last-child {
  border-radius: 0 10px 0 0;
}

table.gl-table tr:last-child {
  border-radius: 10px;
}

table.gl-table tr:last-child > td {
  border-bottom: none;
}

table.gl-table tr:last-of-type td:first-of-type {
  border-radius: 0 0 0 10px;
}
table.gl-table tr:last-of-type td:last-of-type {
  border-radius: 0 0 10px 0;
}
