@use "../../../scss/abstracts" as *;

.gl_table {
  // border-collapse: collapse;
  border-collapse: separate;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  border-radius: $br_small_containers;
  font-family: $title_font;
  border: 0px solid white;
}

.gl_table_th {
  padding: 10px;
  text-align: left;
  background-color: white;
  color: #4d5061;
  border: 0px solid white;
}

.gl_table_tr {
  border: 0px solid white;
  th:last-child {
    border-right: 0px;
  }
}
